.container{
    max-width: 144rem;
    padding:4.2rem 2.4rem;
    display:flex;
    flex-direction: row; /*By default */
    justify-content: space-between;
}
ul{
    display: flex;
    flex-direction: row; /*By default */
    gap:3.2rem;
}